<div class="container">
  <header>
    <div class="header-controls">
      <button class="secondary-button" (click)="confirmGoHome()" title="Back to Home">‹ Home</button>
    </div>
    <h1>Bible Guesser</h1>
    <p>Round {{ currentRound }} of {{ totalRounds }}</p>
  </header>

  <main>
    <div *ngIf="isLoading" class="loading">Loading...</div>
    <div class="verse-container" *ngIf="currentVerse && !isLoading">
      <div class="verse-actions">
        <button (click)="scrollToGuessingVerse()" title="Scroll to current verse">Refocus</button>
      </div>
      <div class="verse-context" #verseContextContainer aria-live="polite">
        <p class="verses-paragraph">
          <span *ngFor="let verse of verseTextWithContext"
                [class.highlight]="verse.verseId === currentVerse?.verseId">
            {{ verse.text }}&nbsp;
          </span>
        </p>
      </div>

      <p class="answer" *ngIf="isRoundOver && gameMode !== 'multiplayer'">
        <em>- {{ answerText }}</em>
      </p>
    </div>

    <div class="context-slider" *ngIf="gameMode === 'normal' && !isRoundOver">
      <label for="context">Context Verses: {{ contextSize }}</label>
      <input type="range" id="context" min="0" max="250" [(ngModel)]="contextSize" (input)="onSliderChange($event)">
    </div>

    <form [formGroup]="guessForm" (ngSubmit)="submitGuess()" *ngIf="!isRoundOver">
      <div class="form-group">
        <label for="guess">Your Guess (e.g., John 3:16)</label>
        <input id="guess" type="text" formControlName="guess" placeholder="Book Chapter:Verse">
      </div>

      <div class="actions">
        <button type="submit" [disabled]="guessForm.invalid">Guess</button>
      </div>
    </form>

    <div class="feedback" *ngIf="feedback">
      <p>{{ feedback }}</p>
    </div>

    <div class="actions" *ngIf="isRoundOver && gameMode !== 'multiplayer'">
      <button type="button" (click)="next()">
        {{ currentRound < totalRounds ? 'Next Round' : 'See Results' }}
      </button>
    </div>
  </main>
</div>
