main {
  width: 100%;
  max-width: 800px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verse-container {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.verse-context {
  max-height: 30vh;
  overflow-y: auto;
  border: 1px solid #444;
  padding: 1rem;
  border-radius: 8px;
  background-color: #2a2a2a;
  text-align: justify;
}

.verses-paragraph .highlight {
  color: #a985f6;
  font-weight: bold;
}

.verse-actions {
  position: absolute;
  top: -35px;
  right: 0;
  display: flex;
  gap: 0.5rem;
  z-index: 5;
}

.context-slider {
  width: 100%;
  margin-bottom: 1rem;
}

.guess-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-picker-group {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 1rem;
}

.book-picker { flex: 3; }
.chapter-picker { flex: 1; }
.verse-picker { flex: 1; }

.feedback, .actions {
  margin-top: 0;
}
