<div class="container">
  <header>
    <div class="header-controls">
      <button class="secondary-button" (click)="confirmGoHome()" title="Back to Home">‹ Home</button>
    </div>
    <div class="header-timer" *ngIf="timeLeft !== null">
      <span>{{ timeLeft }}s</span>
    </div>
    <div class="clickable-header" (click)="confirmGoHome()" title="Back to Home">
      <img src="assets/logo.png" alt="Bible Guesser Logo" class="logo">
    </div>
    <p style="margin-block-end: 0px;">Round {{ currentRound }} of {{ totalRounds }}</p>
  </header>

  <main>
    <div *ngIf="isLoading" class="loading">Loading...</div>
    <div class="verse-container" *ngIf="currentVerse && !isLoading">
      <div class="verse-actions">
        <button (click)="toggleInputMode()" title="Switch input method">
          {{ useClassicInput ? 'Use Scroll Picker' : 'Use Classic Input' }}
        </button>
        <button (click)="scrollToGuessingVerse()" title="Scroll to current verse">Refocus</button>
      </div>
      <div class="verse-context" #verseContextContainer aria-live="polite">
        <p class="verses-paragraph">
          <span *ngFor="let verse of verseTextWithContext"
                [class.highlight]="verse.verseId === currentVerse?.verseId">
            {{ verse.text }}&nbsp;
          </span>
        </p>
      </div>

      <p class="answer" *ngIf="isRoundOver && gameMode !== 'multiplayer'">
        <em>- {{ answerText }}</em>
      </p>
    </div>

    <div class="context-slider" *ngIf="(gameMode === 'normal' || gameMode === 'custom') && !isRoundOver">
      <label for="context">Context Verses: {{ contextSize }}</label>
      <input type="range" id="context" min="0" max="250" [(ngModel)]="contextSize" (input)="onSliderChange($event)">
    </div>

    <!-- Guessing Inputs -->
    <div class="guess-container" *ngIf="!isRoundOver && !useClassicInput">
      <!-- Scroll Picker Input -->
      <div class="scroll-picker-group" >
        <app-scroll-picker class="book-picker"
                           [items]="bookOptions"
                           (selectedChange)="onBookSelected($event)"></app-scroll-picker>
        <app-scroll-picker class="chapter-picker"
                           [items]="chapterOptions"
                           (selectedChange)="onChapterSelected($event)"></app-scroll-picker>
        <app-scroll-picker class="verse-picker"
                           [items]="verseOptions"
                           (selectedChange)="onVerseSelected($event)"></app-scroll-picker>
      </div>

      <div class="actions">
        <button type="button" (click)="submitGuess()" [disabled]="!selectedBook || !selectedChapter || !selectedVerse">
          Guess
        </button>
      </div>
    </div>

    <div class="guess-container" *ngIf="!isRoundOver && useClassicInput">
        <!-- Classic Text Input -->
        <app-classic-input (guess)="onGuess($event)"></app-classic-input>
    </div>

    <div class="feedback" *ngIf="feedback">
      <p>{{ feedback }}</p>
    </div>

    <div class="actions" *ngIf="isHost && gameMode === 'multiplayer' && isRoundOver">
        <button type="button" class="secondary-button" (click)="skipRoundForEveryone()">
            Skip Waiting
        </button>
    </div>

    <div class="actions" *ngIf="isRoundOver && gameMode !== 'multiplayer'">
      <button type="button" (click)="next()">
        {{ currentRound < totalRounds ? 'Next Round' : 'See Results' }}
      </button>
    </div>
  </main>
</div>
