<div class="tutorial-backdrop">
  <button class="close-tutorial-button" (click)="closeTutorial()" title="Close Tutorial">&times;</button>

  <!-- Step 1: Choose Name -->
  <div class="tutorial-step step-1">
    <div class="circle"></div>
    <div class="arrow">↘</div>
    <div class="text-box">Step 1! Choose your name to show in-game!</div>
  </div>

  <!-- Step 2: Join Lobby -->
  <div class="tutorial-step step-2">
    <div class="circle"></div>
    <div class="arrow">↘</div>
    <div class="text-box">Step 2! Enter a lobby code that you have received here, and click "Join Lobby"!</div>
  </div>

  <!-- Step 3: Create Lobby -->
  <div class="tutorial-step step-3">
    <div class="circle"></div>
    <div class="arrow">↘</div>
    <div class="text-box">Step 3! Click here to create a game lobby!</div>
  </div>
</div>
