<div class="container container--full">
  <app-quest-header
    title="Quest Map"
    [user]="user$ | async"
    [scrollBalance]="(userScrolls$ | async) ?? 0"
    backLabel="‹ Home"
    backMode="emit"
    logoMode="emit"
    (backClick)="confirmGoHome()"
    (logoClick)="confirmGoHome()">
  </app-quest-header>

<!--  <button class="addbutton" (click)="addButton()">Click to increase scrolls by 1</button> -->

  <div class="Quest-Map">
    <img src="assets/quest-map.png" alt="Quest Map" class="quest-map-image">

    <div class="quest-point-container" style="top: 36%; left: 14%;">
      <img src="assets/marketplace-icon.png" class="quest-icon" (click)="movePage('marketplace')" alt="Marketplace">
      <div class="quest-tooltip">
        <h4>Marketplace</h4>
        <p>Spend your scrolls to obtain NEW profile customisation options!</p>
      </div>
    </div>

    <div class="quest-point-container" style="top: 20%; left: 85%;">
      <img src="assets/academy-icon.png" class="quest-icon" (click)="movePage('academy')" alt="academy">
      <div class="quest-tooltip">
        <h4>Academy of Challenges</h4>
        <p>Win a game in Custom Mode with at least 3 stars.</p>
      </div>
    </div>

    <div class="quest-point-container" style="top: 38%; left: 50%;">
      <img src="assets/castle-icon.png" class="quest-icon" (click)="movePage('castle')" alt="Castle">
      <div class="quest-tooltip">
        <h4>Castle of Champions</h4>
        <p>Defeat the final boss in Hard Mode.</p>
      </div>
    </div>

    <div class="quest-point-container" style="top: 68%; left: 75%;">
      <img src="assets/racetrack-icon.png" class="quest-icon" (click)="movePage('racetrack')" alt="Racetrack">
      <div class="quest-tooltip">
        <h4>Racetrack</h4>
        <p>Play a multiplayer game and score over 80 points.</p>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <p>Loading quest data...</p>
  </ng-template>

  <ng-container *ngIf="user$ | async as user">
    <app-profile-customization *ngIf="showCustomization" [user]="user" (close)="showCustomization = false"></app-profile-customization>
  </ng-container>
</div>
